table{
    background-color: white;
    border: 1px solid orange;
    /* width: 100%; */
    display: flex;
    width:auto;
    height: auto;
    flex-direction: column;
}
td,th{
    border: 1px solid purple;
    /* display: flex; */
    padding: 15px;
}
#tableCadre{
    justify-content: center;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    overflow-wrap: break-word;
    overflow: scroll;
}
#imageAlignementCorps{
    text-align: -webkit-center;
}
#imageAlignementTete{
    width: 100%;
    text-align: -webkit-center;
    display: flex;
    justify-content: space-between;
}
#img1{
    border: 1px solid blue;
}
#img1:hover{
    background-color: blue;
}
#img2{
    border: 1px solid red;
}
#img2:hover{
    background-color: red;
}
#img3{
    border: 1px solid purple;
}
#img3:hover{
    background-color: purple;
}
#img1:hover,#img2:hover,#img3:hover,#img4:hover,#img1,#img2,#img3,#img4{
    margin: 15px;
    transition: 0.5s;
}
#img1,#img2,#img3{
    display: flex;
    width: auto;
}
#img1,#img2,#img3,#img4{border-radius: 15px;}
#boiteDialogueTexte{text-align: -webkit-center;}
#caticorn{
    background:linear-gradient(to left to top, rgb(161, 0, 113), rgb(99, 0, 138));
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: scroll;
    transition: 0.9s;
    border: 1px dotted orange;
}
#caticornImg{
    top: 5px;
    transition: 0.9s;
    position: relative;

}
#caticornImg:hover{
    top: 20px;
    transition: 0.5s;
}