/* Index */
*{
    font-family:Helvetica;
    letter-spacing: 3px;
}
:root{
    /* -- (var () pour déclancher la variable*/
    --transition1:0.3s;
    --couleur1:rgb(88, 33, 237);
    --couleur2:rgb(190, 33, 237);
    --couleur3:rgb(237, 33, 182);
    --couleur4:rgb(237, 33, 80);
    --couleur5:rgb(237, 88, 33);
    --couleur6:rgb(237, 190, 33,);
    --couleur1-2:rgb(88, 33, 237, 0.411);
    --couleur2-2:rgb(190, 33, 237, 0.411);
    --couleur3-2:rgb(237, 33, 182, 0.411);
    --couleur4-2:rgb(237, 33, 80, 0.411);
    --couleur5-2:rgb(237, 88, 33, 0.411);
    --couleur6-2:rgba(237, 189, 33, 0.411);
}
::selection{
    background-color: orange;
    color: purple;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: black;
}
::-webkit-scrollbar-track{
    background-color: white;
    border-left: 1px dotted purple;
}
::-webkit-scrollbar-thumb{
    background-color: black;
}
#textareaLien{
    resize: none;
    overflow-x: scroll;
    height: auto;
    width: auto;
    display: flex;
    margin-top: 15px;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
}
p{
    font-size: 13px;
}
a{
    text-decoration: none;
    color: rgb(119, 77, 0);
}
h1,h2,h3,h4,h5{
    font-size: 25px;
    color: white;
}
h2{color: rgb(241, 0, 241);font-size: 15px;}
.h1{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 15px;
    color: white;
    text-align: center;
}
.h1Left{
    text-align: left;
}
.couleur1 {     
    background-color: blue;
    color: white; 
    padding-left: 4px;
    padding-right: 2px;
    border: 1px dotted purple;
}
.couleur2 {    
    background-color: red;
    color: white;
    padding-left: 4px;
    padding-right: 2px;
    border: 1px dotted purple;
}
.couleur3 {     
    border: 1px solid orange;
    background-color: purple;
    color: white;
    padding-left: 5px;
    padding-right: 2px;
}
.couleur4 {     
    border: 1px solid purple;
    background-color: orange;
    color: purple;
    padding-left: 5px;
    padding-right: 2px;
}
.couleur1:hover,.couleur2:hover,.couleur3:hover,.couleur4:hover{cursor:url(../img/Curseur\ caticorn\ clestial\ curseur\ principal\ figé.png),auto;}
.couleur3:hover{
    background-color: orange;
    border: 1px dotted purple;
    color: black;
    box-shadow: 0px 2px 3px 0px purple;
}
.couleur4:hover{
    background-color: purple;
    border: 1px dotted orange;
    color: white;
    box-shadow: 0px 2px 3px 0px orange;
}
.couleur5{color: green;}
.couleur5:hover{color:yellow;}
.couleur1:hover,.couleur2:hover{
    background-color: purple;
    border: 1px solid orange;
    box-shadow: 0px 2px 3px 0px orange;
}
.h2{
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 20px;
    color: white;
}
.h3{
    font-size: 15px;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    padding: 5px;
    font-size: 12px;
    border: 1px dotted orange;
    margin-left: 15px;
    margin-top: 5px;
    /* margin: 5px; */
    text-align: center;
}
li:hover{
    background-color: purple;
    color: white;
    border: 1px dotted orange;
}
#lienPageAcceuilCouleur{
    background-color: blue;
    color: white;
}
#lienPageAcceuilCouleur:hover{
    background-color: black;
    color: rgb(0, 110, 255);
}
#lienPageMusiqueCouleur:hover{
    background-color: orange;
    color: white;
}
#lienPageReseaux:hover{
    background-color: purple;
    color: white;
}
#lienPageMonLoreCouleur:hover{
    background-color: red;
    color: white;
}
#lienPageToDoListCouleur:hover{
    background-color: pink;
    color: black;
}
#lienPageToDoListCouleur{
    background-color: purple;
    color: yellow;
}
#lienPageNewsCouleur{
    background-color: red;
    color: white;
}
#lienPageNewsCouleur:hover{
    background-color: black;
    color: red;
}
#lienPageNews:hover{
    background-color: green;
    color: white;
}
.boiteDialogueTexte::before{
    content: "Clestial dit :";
    font-size: 16px;
}
.boiteDialogueTexte{
    margin-top:20px ;
    margin-bottom: 35px;
    background-color: black;
    color: white;
    padding: 15px;
    /* margin: 5px; */
    border-radius: 16px;
    box-shadow: 1px 2px 5px 2px var(--couleur1-2);
    border: 2px solid purple;
    margin-left: 15px;
    margin-right: 15px;
}
.boiteDialogueTexte:hover{
    background-color: rgb(58, 0, 58);
    box-shadow: 1px 2px 2px 1px var(--couleur4-2);
    border: 2px solid orange;
    cursor: url(../img/Curseur\ caticorn\ clestial\ curseur\ principal\ figé.png),auto;
}
#bodyRightTextNews{
    background-color: black;
}
#bodyRightTextNews:hover{
    background-color: rgba(179, 0, 255, 0.308);
    transition: var(--transition1);
}

@media(min-width:0){
    #bottomPadding{
        margin-bottom: 150px;
    }
    /* #blocPrevention:hover{
        opacity: 100%;
    } */
    #blocPrevention{
        opacity: 90%;
        z-index: +999;
        width: auto;
        text-align: justify;
        /* padding: 5px; */
        padding-left: 15px;
        padding-right: 15px;
        /* height: 60px; */
        display:flex;
        /* overflow-y: scroll;
        overflow-x: hidden; */
        background-color: rgba(70, 0, 128, 0.945);
        color: rgb(255, 255, 255);
        border-top: orange;
        box-shadow: 1px 2px 5px 1px orange;
        position:fixed;
        bottom: 0;
    }
    #BlocABCBodyCadre{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 0;
        padding: 0;
        /* margin-bottom: 90px; */
        /* height: 100%; */
    }
        #bannièreH1ClestialMusepi{
            grid-column: 1;
            grid-row: 1;
            display: block;
            background-color: black;
            color: white;
            height: auto;
            text-align: center;
            border-bottom: 1px solid black;
            z-index: +999;
            box-shadow: 0px 0px 8px 0px purple;
        }
        #bodyLeftOptions{
            grid-column: 1;
            grid-row: 2;
            background-color: white;
            height: 100%;
            overflow-y: hidden;
            overflow-x: hidden;
            border-right: 2px solid black;
            box-shadow: 0px 1px 5px 1px var(--couleur1-2);
            z-index: 2;
            padding-right: 15px;
            padding-left: 0;
            padding-bottom: 5px;
            padding-top: 15px;
                height: max-content;

        }
        #bodyRightTextNews{
            padding: 15px;
            border: 1px dotted purple;
            grid-column: 1;
            grid-row: 3;
            background-color: black;
            /* overflow-y: scroll; */
            overflow-x: hidden;
                    /* overflow-y: hidden; */
            height: 100%;
            transition: var(--transition1);
        }
}
@media(min-width:400px){
    .boiteDialogueTexte{
        margin-left: 50px;
        margin-right: 50px;
    }
    #BlocABCBodyCadre{
        grid-template-columns: 150px 1fr 1fr;
        grid-template-rows: 150px auto 0;
        height: 100%;
    }
    #bannièreH1ClestialMusepi{
        grid-column: 1/4;
        grid-row: 1;
    }
    #bodyLeftOptions{
        grid-column: 1;
        grid-row: 2;
        width: auto;
        height: 100%;
    }
    #bodyRightTextNews{
        grid-column: 2/4;
        grid-row: 2;
    }
}

/* Mon Lore */
#tableToDoListCenter{
    align-items: center;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}
#tableToDoListList:hover{
    background-color: orangered;
    color: white;
    border: 1px solid yellow;
}
#tableToDoList{
    background-color: purple;
    color:white ;
    border: 1px dotted white;
    height: auto;
    width: auto;
    font-size: 13px;
    text-align-last: center;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    width: max-content;
}
table{
    background-color: white;
    border: 1px solid orange;
    /* width: 100%; */
    display: flex;
    width:auto;
    height: auto;
    flex-direction: column;
    font-size: 13px;
}
td,th{
    border: 1px solid purple;
    /* display: flex; */
    padding: 15px;
}
#tableCadre{
    justify-content: center;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    overflow-wrap: break-word;
    overflow: scroll;
}
#imageAlignementCorps{
    text-align: -webkit-center;
}
#imageAlignementTete{
    width: 100%;
    text-align: -webkit-center;
    display: flex;
    justify-content: space-between;
}
#img1{
    border: 1px solid blue;
}
#img1:hover{
    background-color: blue;
}
#img2{
    border: 1px solid red;
}
#img2:hover{
    background-color: red;
}
#img3{
    border: 1px solid purple;
}
#img3:hover{
    background-color: purple;
}
#img1:hover,#img2:hover,#img3:hover,#img4:hover,#img1,#img2,#img3,#img4{
    margin: 15px;
    transition: 0.5s;
}
#img1,#img2,#img3{
    display: flex;
    width: auto;
}
#img1,#img2,#img3,#img4{border-radius: 15px;}
#boiteDialogueTexte{text-align: -webkit-center;}
#caticorn{
    background:linear-gradient(to left to top, rgb(161, 0, 113), rgb(99, 0, 138));
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: scroll;
    transition: 0.9s;
    border: 1px dotted orange;
}
#caticornImg{
    top: 5px;
    transition: 0.9s;
    position: relative;

}
#caticornImg:hover{
    top: 20px;
    transition: 0.5s;
}

/* Musique */
h1{
    text-align: center;
}

/* Reseaux */
#cadreDesLiensWeb{
    align-content: center;
    background-color: black;
    border: 1px solid white;
    overflow: hidden;
    grid-row: 2;
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 0px 1fr 0px;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
}
#cadreDesLiensWeb:hover{
    border: 1px solid yellow;
}
#lienTwitter,
#lienYoutube,
#lienInstagram,
#lienSoundcloud,
#lienFaireUnDonPaypal,
#lienAudius
{
    text-align: center;
    align-self: center;
    box-shadow: 0 0 3px 0 black;
    overflow: hidden;
    text-align: center;
    align-content: center;
    letter-spacing: 5px;
    transition: var(--transition1);
    height: 100%;
}
#lienTwitter:hover,
#lienYoutube:hover,
#lienInstagram:hover,
#lienSoundcloud:hover,
#lienAudius:hover,
#lienFaireUnDonPaypal:hover
{
    border: 1px solid yellow;
    font-size: 15px;
    transition: var(--transition1);
    border: 1px solid purple;
    cursor: url(../img/Curseur\ caticorn\ clestial\ curseur\ principal\ figé.png)pointer;
}
#lienTwitter:active,
#lienYoutube:active,
#lienInstagram:active,
#lienSoundcloud:active,
#lienAudius:active,
#lienFaireUnDonPaypal:active
{
    background-color: purple;
    color: yellow;
}
#lienTwitter{
    background: linear-gradient(to right, rgb(0, 225, 255), rgb(0, 204, 255));
    background-color: rgb(0, 153, 255);
    color: white;
    grid-column: 2;
    grid-row: 1;
    border: 1px solid cyan;
}
#lienTwitter:hover{
    background: black;
    color: white;
    letter-spacing: 10px;
}
#lienYoutube{
    background:linear-gradient(to left, red 50%,rgb(139, 0, 0));
    background-color: red;
    color: white;
    grid-column: 2;
    grid-row: 2;
    border: 1px solid red;
}
#lienYoutube:hover{
    background: white;
    color: red;
    letter-spacing: 10px;
}
#lienInstagram{
    background: linear-gradient(to left, rgb(255, 145, 0), rgb(255, 102, 0),rgb(162, 0, 255),rgb(0, 102, 255));
    color: white;
    background-color: orangered;
    grid-column: 2;
    grid-row: 3;
    border: 1px solid purple;
}
#lienInstagram:hover{
    background: white;
    color: orangered;
    letter-spacing: 10px;
}
#lienSoundcloud{
    background: linear-gradient(to left bottom, rgb(255, 136, 0)50%,rgb(255, 60, 0) );
    color: black;
    grid-column: 2;
    grid-row: 4;
    border: 1px solid orange;
}
#lienSoundcloud:hover{
    background: black;
    color: orangered;
    letter-spacing: 10px;
}
#lienAudius{
    background: linear-gradient(to left, purple, rgb(122, 0, 204));
    color: white;
    grid-column: 2;
    grid-row: 5;
    border: 1px solid purple;
}
#lienAudius:hover{
    background: white;
    color: rgb(216, 0, 216);
    letter-spacing: 10px;
}
#lienFaireUnDonPaypal{
    background: linear-gradient(to left, rgb(0, 56, 161), rgb(0, 33, 124));
    color: rgb(255, 225, 52);
    grid-column: 2;
    grid-row: 6;
    border: 1px solid yellow;
}
#lienFaireUnDonPaypal:hover{
    background: rgb(0, 183, 255);
    color: rgb(0, 33, 105);
    letter-spacing: 10px;
}
/* Les Spans */
#spanTwitter{
    background: linear-gradient( to right, rgb(0, 225, 255),rgb(0, 204, 255));
    color: black;
    padding-left: 5px;
    padding-right: 2px;
}
#spanYoutube{
    background:linear-gradient(to left, red 50%,rgb(139, 0, 0));
    color: white;
    padding-left: 5px;
    padding-right: 2px;
}
#spanInstagram{
    background: linear-gradient(to left, rgb(255, 145, 0), rgb(255, 102, 0),rgb(162, 0, 255),rgb(0, 102, 255));
    color: white;
    padding-left: 5px;
    padding-right: 2px;
}
#spanSoundcloud{
    background: linear-gradient(to left bottom, rgb(255, 136, 0)50%,rgb(255, 60, 0) );
    color: black;
    padding-left: 5px;
    padding-right: 2px;
}
#spanFaireUnDon{
    background: linear-gradient(to left, rgb(0, 56, 161), rgb(0, 33, 124));
    color: rgb(255, 225, 52);
    padding-left: 5px;
    padding-right: 2px;
}
#spanAudius{
    background: white;
    color: rgb(216, 0, 216);
    padding-left: 5px;
    padding-right: 2px;
}
li{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.liHoverListC{
    border-color: yellow;
    border: 1px dotted orange;
    color: rgb(177, 0, 231);
    background-color: rgba(128, 0, 128, 0.493);
}
.liHoverListC:hover{
    border: 1px dotted;
    border-color: yellow;
    color: black;
    background-color: rgba(255, 166, 0, 0.466);
}
.liHoverListD{
    background-color: rgba(255, 166, 0, 0.466);
    color: purple;
    border: 1px dotted yellow;
}
.liHoverListD:hover{
    border-color: purple;
    background-color: rgba(255, 166, 0, 0.733);
    color: purple;
}
.tdHeightScrollbar{
    height: min-content;
    height: 150px;
    display:block;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
}