*{
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

body{
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr;
    background-color: rgb(16, 5, 36);
}

#headerABC{
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cadreA{
    background-color: aqua;
    border:5px solid blue;
}
.cadreB{
    background-color: aqua;
    border:5px solid red;
}
.cadreC{
    background-color: aqua;
    border:5px solid purple;
}

#headerbanniere{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px;
    border-bottom: 0.5px solid black;
    height: auto;
    width: auto;
    background-color: white;
    color: black;
    width: 100%;
    margin: 0;
    overflow: hidden;
    letter-spacing: 15px;
    font-size: 8px;
    cursor: default;
    font-family:'Times New Roman', Times, serif;
    font-weight:lighter;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
}

#headerbanniere:hover{
    background-color: yellow;
    transition: 0.5s;
    box-shadow: 0 0 3px 0 yellow;
    letter-spacing: 20px;
    border-bottom: 0.5px solid yellow;
    font-size: 10px;
}

h1{
    padding: 0;
    margin: 0;
}
.h1ClestialMusepi{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.lesLiens{
    /* background-color: #ffa600; */
    grid-column: 2;
    grid-row: 2;
    border: 1 solid rgb(31, 26, 19);
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    box-shadow: 0 0 3px 0 yellow;
    height: auto;
    /* overflow-y: scroll; */
}

#gridBanniere{
    /* display: grid; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

#lienTwitter{
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 25px 25px;
    color: aqua;
    background-color: black;
    justify-content: center;
}
#lienYoutube{
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 25px 25px;
    color: red;
    background-color: white;
    justify-content: center;

}
#lienInstagram{
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 25px 25px;
    color: rgb(255, 0, 200);
    background-color: #ffa600;
    justify-content: center;
}
#lienSoundcloud{
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 25px 25px;
    color: orangered;
    background-color: black;
    justify-content: center;
}
#lienFaireUnDon{
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 25px 25px;
    color: yellow;
    background-color:blue;
    justify-content: center;
}

.BoiteBouton{
    display: flex;
    border: 0.5px solid rgba(255, 255, 0, 0.445);
    width: auto;
}

/* Les Hovers des Liens */
.BoiteBouton:hover,#LienFaireUnDon:hover,#lienInstagram:hover,#LienYoutube:hover,#LienTwitter:hover{
    font-weight: bold;
    background-color: yellow;
    transition: 0.5s ease;
    color: white;
    font-size: 15px;
    letter-spacing: 5px;
    color: black;
    box-shadow: 0 0 1px 0 yellow;
}

#gridLesLiens{
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    grid-template-rows: 45px 300px 450px 1fr;
}

.Blue{
    letter-spacing: 0;
    background-color: blue;
    color: white;
    align-content: center;
    justify-content: center;
    text-align: center;
    border: 0.5 solid white;
}
.Red{
    letter-spacing: 0;
    background-color: red;
    color: white;
    align-content: center;
    justify-content: center;
    text-align: center;
    border: 0.5 solid white;
}
.Purple{
    letter-spacing: 0;
    background-color: purple;
    color: pink;
    align-content: center;
    justify-content: center;
    text-align: center;
    border: 0.5 solid white;
}
.Yellow{
    letter-spacing: 0;
    background-color: yellow;
    color: black;
    align-content: center;
    justify-content: center;
    text-align: center;
    border: 0.5 solid white;
}
.Green{
    letter-spacing: 0;
    background-color: green;
    color: yellow;
    align-content: center;
    justify-content: center;
    text-align: center;
    border: 0.5 solid white;
}

#textPresentationClestialMusepiABC{
    background-color: rgb(40, 0, 83);
    width: auto;
    height: auto;
    grid-column: 2;
    grid-row: 3;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 15px;
    margin: 0;

  
}
.paragrapheP{
    font-size: 15px;
}

.listUlLi{
    font-family:'Times New Roman', Times, serif;
    color: yellow;
    display: flex;
    background-color: rgba(128, 0, 128, 0.308);
    border: 1px solid yellow;
    box-shadow: 0 0 5px 0 purple;
    padding-left: 30px;
    padding: 15px;
    margin: 15px;
    transition: 0.1s;
    border: 1px solid rgba(255, 255, 0, 0);
}
.listUlLi:hover{
    transition: 0.1s;
    background-color: rgba(128, 0, 128, 0.308);
    border: 1px solid yellow;
    box-shadow: 0 0 15px 0 purple;
    color: white;
}

.UlLi{
    padding: 2px;
}

::-webkit-scrollbar{
    background-color: #ffa600;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: purple;
}

#iFrameVideo{
    display: grid;
}

#videoYoutube{
    display: flex;
    grid-auto-rows:min-content/max-content;
    border: 1px dotted black;
    align-content: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 15px;
}
#video{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}