*{
    cursor: URL(./img/Curseur\ caticorn\ clestial\ curseur\ principal\ figé.png),auto;
    -webkit-tap-highlight-color: transparent;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: square;
    margin: 0;
    margin-left: 25px;
    padding: 0;
}
#pCadreTextArea{
    display: grid;
    grid-template-columns: 12px 1fr 12px;
    grid-template-rows: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#divIdReferencement,#textareaLien{
    background-color: white;
    align-self: center;
    place-content: center;
    width: 500px;
    padding: 1px;
    border: 1px dotted black;
    color: black;
    text-align: center;
    cursor: text;
    resize: none;
    grid-column: 2;
    grid-row: 1;
    overflow-y: hidden;
}
#divIdReferencement:hover,#textareaLien:hover{
    background-color: yellow;
    color: purple;
}
#tousDroitsReserves{
    background-color: white;
    color: black;
    text-align: center;
}
#ulLi{          
    margin: 15px;
    padding: 15px; 
  }
.BlocA,.BlocB,.BlocC,.BlocD,.BlocE,.BlocF{
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid yellow;
    box-shadow: 0 0 5px 1px rgb(37, 0, 37);
    cursor: URL(./image/Curseur\ caticorn\ clestial\ curseur\ principal\ figé.png);
}
.BlocA:hover,.BlocB:hover,.BlocC:hover,.BlocD:hover,.BlocE:hover,.BlocF:hover{
    box-shadow: 0 0 5px 1px rgb(255, 208, 0);
    background-color: rgb(113, 222, 255);
    color: white;
    cursor: URL(./image/Curseur\ caticorn\ clestial\ curseur\ principal\ figé.png);
}
.BlocA{
    background-color: blue;
    color: white;
}
.BlocB{
    background-color: red;
    color: white;
}
.BlocC{
    background-color: purple;
    color: pink;
}
.BlocD{
    background-color: yellow;
    color: black;
}
.BlocE{
    background-color: green;
    color: yellow;
}
.BlocF{
    background-color: orange;
    color: red;
}
#titreBienvenue,#enTantQue,#news{
    color: yellow;
    text-align: center;
}
#cliquezABC{
    grid-column: 1/4;
    text-align: center;
    grid-row: 1;
    color: rgb(218, 0, 199);
}
#titreBienvenue{
    grid-column: 1/4;
    grid-row: 2;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-shadow:  2px 1px 15px rgb(162, 0, 255);
}
.Ptexte{
    margin: 15px;
    padding: 15px; 
    color: yellow;
    overflow: hidden;
    background: linear-gradient(to left bottom, rgb(93, 0, 136),rgb(65, 0, 117),rgb(18, 0, 99));
    box-shadow: 0 0 3px 1px rgba(225, 0, 255, 0.658);
    border: 1px solid rgba(255, 13, 114, 0.637);
}
.Ptexte:hover{
    transition: 0.5s;               
    color: white;
    border: 1px solid yellow;
    box-shadow: 0 0 1px 1px rgba(255, 255, 0, 0.418);
}
#spanTwitter{
    background: linear-gradient( to right, rgb(0, 225, 255),rgb(0, 204, 255));
    color: black;
    padding-left: 5px;
    padding-right: 2px;
}
#spanYoutube{
    background:linear-gradient(to left, red 50%,rgb(139, 0, 0));
    color: white;
    padding-left: 5px;
    padding-right: 2px;
}
#spanInstagram{
    background: linear-gradient(to left, rgb(255, 145, 0), rgb(255, 102, 0),rgb(162, 0, 255),rgb(0, 102, 255));
    color: white;
    padding-left: 5px;
    padding-right: 2px;
}
#spanSoundcloud{
    background: linear-gradient(to left bottom, rgb(255, 136, 0)50%,rgb(255, 60, 0) );
    color: black;
    padding-left: 5px;
    padding-right: 2px;
}
#spanFaireUnDon{
    background: linear-gradient(to left, rgb(0, 56, 161), rgb(0, 33, 124));
    color: rgb(255, 225, 52);
    padding-left: 5px;
    padding-right: 2px;
}
#spanmonLore{
    background: linear-gradient(to left, orange, red);
    color: yellow;
    padding-left: 5px;
    padding-right: 2px;
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background-color: orange;
    width: 5px;
    height: 5px;
    height: auto;
}
::-webkit-scrollbar-thumb{
    background-color: purple;
}
h1,h2,h3{margin: 0;}
@media (min-width:0px){
    #cadreBody{
        background-color: black;
        display: grid;
        grid-template-columns: 0px 1fr 1fr 0px;
        grid-template-rows: 356px;
    }
/* A */    
    #A{
        /* background-color: blue; */
        /* background-color: orange; */
        grid-column: 1 / 4;
        grid-template-columns: 1fr ;
        grid-template-rows: 150px;
        overflow: hidden;
    }
        #cadreBanniereTeteTitre{
            display: grid;
            grid-template-rows: 115px;
            background-color: white;
            border-bottom: 1px solid black;
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.377);
            position: fixed;
            width: 100%;
            z-index: +999;
            transition: 1s;
        }
        #cadreBanniereTeteTitre:hover{
            transition: 0.5s;
            background-color: yellow;
            color: purple;
        }
            #cadreH1IdClestialMusepi{
                text-align: center;
                overflow: hidden;
                height: max-content;
                letter-spacing: 18px;
                font-weight: lighter;
                font-size: 25px;
                text-transform: uppercase;
                transition: 1s;
                align-self: center;
            }
            /* cadre */
            #cadreH1IdClestialMusepi:hover{
                letter-spacing: 25px;
                transition: 1s;
            }
            #cadreDivIdImgRognageHidden{
                text-align: -webkit-center;
                align-items: center;
                background-color: rgb(19, 0, 37);
                background: linear-gradient(top bottom, rgb(66, 0, 66), rgb(53, 0, 53));
                box-shadow: 0 1px 5px rgb(39, 0, 39);
                border-bottom: 2px solid orange;
                transition: 0.5s;
            }
            #cadreDivIdImgRognageHidden:hover{
                border-bottom: 2px solid purple;
                transition: 0.5s;
            }
                #divIdImgRognageHidden{
                    width: 432px;
                    height: 317px;
                    overflow: hidden;
                    z-index: 1;
                    position: relative;
                }
                    #imgCaticorn{
                        position: relative;
                        left: -389px;
                        top: -47px;
                        transition: 0.2s;
                    }
                    #imgCaticorn:hover{
                        transition: 0.2s;
                        top: -5px;
                    }
        /* Les touches des commandes ABC */
        #cadreCadreDivIdCommandeABC{
            text-align: -webkit-center;
        }
        #cadreDivIdCommande{
            background-color: orange;
            /* width: 150px; */
            display: grid;
            grid-column: 1 / 4;
            grid-template-columns: 0px 35px 35px 35px 0px;
            grid-template-rows: 35px;
            /* box-shadow: 0 1px 5px rgb(39, 0, 39); */
            overflow: hidden;
            /* border: 1px solid white; */
            justify-content: center;
        }
            /* ABC */
    #A,#B,#C{
        grid-column: 1 / 5;

    }  
            #blocABouton{
                background-color: blue;
                grid-column: 2;
                grid-row: 1;
                place-content: center;
                border: 1px solid rgba(128, 0, 128, 0);
                box-shadow: 1px 2px 3px purple;
            }
            #blocABouton:hover{
                background-color: orange;
                border: 1px solid purple;
            }
            #blocCBouton{
                background-color: purple;
                grid-column: 3;
                grid-row: 1;
                place-content: center;
                border: 1px solid rgba(128, 0, 128, 0);
                box-shadow: 1px 2px 5px yellow;
            }
            #blocCBouton:hover{
                background:linear-gradient(to right, blue 50%, red 50%);
                border: 1px solid purple;
            }
            #blocBBouton{
                background-color: red;
                grid-column: 4;
                grid-row: 1;
                place-content: center;
                border: 1px solid rgba(128, 0, 128, 0);
                box-shadow: 1px 2px 3px purple;
            }
            #blocBBouton:hover{
                align-items: center;
                background-color: orange;
                border: 1px solid purple;
            }
            #blocABouton,#blocBBouton{
                padding: 2px;
            }
                #lettreA,#lettreB,#lettreC,
                #blocABouton,#blocBBouton,#blocCBouton{
                    align-self: center;
                    color: white;
                    margin: 0;
                }
                #blocABouton:hover,#blocBBouton:hover,#blocCBouton:hover{
                    box-shadow: 0 1px 2px rgb(39, 0, 39);
                }
    #B{
        overflow: hidden;
        grid-row: 2 / 4;
        display: grid;
        grid-template-columns: 0px 1fr 1fr 0px;
        grid-template-rows: 1fr ;
    }
    /* Bouton A */
    .cadreOptionABCFonctionA{
        display: none;
        grid-column: 2/4;
        grid-row: 1;
        /* grid-column: 2 / 4;
        grid-row: 2 / 2; */
        background-color: rgba(0, 0, 255, 0.500);
        color: white;
        text-align: justify;
        z-index: +1;
        padding: 15px;
        overflow-y: scroll;
        border-right: 1px solid white;
        height: 500px;
    }
    .cadreOptionABCFonctionAAction{
        display: block;
        /* bloc bleu */
    }
    #textareaLien{
        background-color: white;
        padding: 5px;
        border: 1px dotted black;
        color: black;
        text-align: center;
        cursor: text;
        resize: none;
        grid-column: 2;
        grid-row: 1;
        overflow-y: hidden;
        
    }
    /* Bouton B */
    .cadreOptionABCFonctionB{
        display: none;
        grid-column: 2/4;
        grid-row: 1;
        background-color: rgba(255, 0, 0, 0.500);
        color: white;
        text-align: justify;
        z-index: +1;
        padding: 15px;
        overflow-y: scroll;
        border-left: 1px solid white;
        height: 500px;
    }
    .cadreOptionABCFonctionBAction{
        display: block;
        /* bloc rouge */
    }
    #cadrePlaylistVideo{
        border: 1px solid white;
        grid-column: 2 / 5;
        overflow: hidden;
        grid-row: 5;
        text-align: center;
        color: yellow;
        letter-spacing: 3px;
        font-size: 7px;
        background-color: rgb(0, 0, 0);
        text-shadow: 0 1px 7px rgba(255, 136, 0, 0.76);
    }
    #cadrePlaylistVideo:hover{
        border: 1px solid yellow;
    }
        /* Bouton C */
        .cadreOptionABCFonctionC{
            display: none;
            grid-column: 2/4;
            grid-row: 1;
            /* background-color: purple; */
            color: white;
            text-align: justify;
            z-index: 0;
        }
        .cadreOptionABCFonctionCAction{
            display: block;
            /* bloc rouge */
        }
    /* B */    
    #B{
        /* background-color: red; */
        /* background-color: rgb(27, 0, 27); */
        transition: 1s;
    }
    /* #B:hover{
        background-color: orange;
        transition: 1s;
    } */
    #cadreBanniereTeteTitre{
        grid-template-rows: 115px;
    }
    /* C */
    #C{
        /* background-color: purple; */
        background-color: black;
    }
    #cadreDesLiensWeb{
        align-content: center;
        background-color: black;
        border: 1px solid white;
        overflow: hidden;
        grid-row: 2;
        grid-column: 2/5;
        display: grid;
        grid-template-columns: 0px 1fr 0px;
        grid-template-rows: 60px 60px 60px 60px 60px 60px;
    }
    #cadreDesLiensWeb:hover{
        border: 1px solid yellow;
    }
    #lienTwitter,
    #lienYoutube,
    #lienInstagram,
    #lienSoundcloud,
    #lienFaireUnDonPaypal,
    #lienmonLore{
        text-align: center;
        align-self: center;
        box-shadow: 0 0 3px 0 black;
        overflow: hidden;
        text-align: center;
        align-content: center;
        letter-spacing: 5px;
        transition: var(--transition1);
        height: 100%;
    }
        #lienTwitter:hover,
        #lienYoutube:hover,
        #lienInstagram:hover,
        #lienSoundcloud:hover,
        #lienFaireUnDonPaypal:hover,
        #lienmonLore:hover{
            border: 1px solid yellow;
            transition: var(--transition1);
            border: 1px solid purple;
            cursor: url('./cursor/Curseur\ caticorn\ clestial\ curseur\ principal\ figé.png')pointer;
        }
            #lienTwitter:active,#lienYoutube:active,#lienInstagram:active,#lienSoundcloud:active,#lienFaireUnDonPaypal:active{
                background-color: purple;
                color: yellow;
            }
            #lienTwitter{
                background: linear-gradient(to right, rgb(0, 225, 255), rgb(0, 204, 255));
                background-color: rgb(0, 153, 255);
                color: white;
                grid-column: 2;
                grid-row: 1;
                border: 1px solid cyan;
            }
            #lienTwitter:hover{
                background: black;
                color: white;
                letter-spacing: 10px;
            }
                #lienYoutube{
                    background:linear-gradient(to left, red 50%,rgb(139, 0, 0));
                    background-color: red;
                    color: white;
                    grid-column: 2;
                    grid-row: 2;
                    border: 1px solid red;
                }
                #lienYoutube:hover{
                    background: white;
                    color: red;
                    letter-spacing: 10px;
                }
                    #lienInstagram{
                        background: linear-gradient(to left, rgb(255, 145, 0), rgb(255, 102, 0),rgb(162, 0, 255),rgb(0, 102, 255));
                        color: white;
                        background-color: orangered;
                        grid-column: 2;
                        grid-row: 3;
                        border: 1px solid purple;
                    }
                    #lienInstagram:hover{
                        background: white;
                        color: orangered;
                        letter-spacing: 10px;
                    }
                        #lienSoundcloud{
                            background: linear-gradient(to left bottom, rgb(255, 136, 0)50%,rgb(255, 60, 0) );
                            color: black;
                            grid-column: 2;
                            grid-row: 4;
                            border: 1px solid orange;
                        }
                        #lienSoundcloud:hover{
                            background: black;
                            color: orangered;
                            letter-spacing: 10px;
                        }
                            #lienFaireUnDonPaypal{
                                background: linear-gradient(to left, rgb(0, 56, 161), rgb(0, 33, 124));
                                color: rgb(255, 225, 52);
                                border: 1px solid yellow;
                                grid-column: 2;
                                grid-row: 5;
                            }
                            #lienFaireUnDonPaypal:hover{
                                background: rgb(0, 183, 255);
                                color: rgb(0, 33, 105);
                                letter-spacing: 10px;
                            }
                                #lienmonLore{
                                    background: linear-gradient(to left, orange, red);
                                    color: rgb(255, 225, 52);
                                    border: 1px solid purple;
                                    grid-column: 2;
                                    grid-row: 6;
                                }
                                #lienmonLore:hover{
                                    background: red;
                                    color: black;
                                    letter-spacing: 10px;
                                }
}
@media (min-width:100px){
    #imgCaticorn{
        left: -373px;
    }
}
@media (min-width:300px){
    #imgCaticorn{
        left: -260px;
    }
}

    @media (min-width:450px){
        /* A */
        #cadreBody{
            grid-template-columns: 0px 1fr 1fr 0px;
        }
        #cadreBanniereTeteTitre{
            grid-template-rows: 80px;
        }
        #imgCaticorn{
            left: -212px;
        }
        #imgCaticorn:hover{
            top: -25px;
        }
        /* B */
            /* Bouton A */
            .cadreOptionABCFonctionA{
                border: 1px solid yellow;
                grid-column: 2;
                grid-row: 1/3;
            }
            .cadreOptionABCFonctionAAction{
                display: block;
                /* bloc bleu */
            }
            /* Bouton B */
            .cadreOptionABCFonctionB{
                border: 1px solid yellow;
                grid-column: 3;
                grid-row: 1/3;
            }
            .cadreOptionABCFonctionBAction{
                display: block;
                /* bloc rouge */
            }
        /* C */
    }
    @media (min-width:800px){
        #cadreDesLiensWeb{
            grid-column: 3/5;
            grid-row: 2;
        }
    }
    @media (min-width:900px){
        #cadreBody{
            grid-template-columns: 0px 1fr 1fr 1fr 0px;
        }
    }
        /* A */
        /* B */
        /* C */

