* {
    word-wrap: normal;
    
}

body{
    overflow-x: hidden;
    font-family: 'Times New Roman';
    font-weight: normal;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    min-width: 100px;
    top: 0;
    bottom: 0;
    width: auto;
/* Responsive */
    @media (min-width:0) and (max-width:0) {
        * {
            visibility: hidden;
        }
    }
    @media (min-width:0px) and (max-width:135px) {
        * {
            visibility: hidden;
        }
    }
    @media (min-width:135px) and (max-width:166px) {
        #blocA{
            padding-top:210px;
        }
    }
    @media (min-width:166px) and (max-width:184px) {
        #blocA{
            padding-top:220px;
        }
    }
    @media (min-width:184px) and (max-width:214px) {
        #blocA{
            /* padding-top:175px; */
            padding-top: 185px;
        }
    }
    @media (min-width:214px) and (max-width:232px) {
        #blocA{
            padding-top:185px;
        }
    }
    @media (min-width:232px) and (max-width:342px) {
        #blocA{
            padding-top:140px;
        }
    }
    @media (min-width:342px) and (max-width:659px) {
        #blocA{
            padding-top:120px;
        }
    }
}
body, html {
    -webkit-tap-highlight-color: transparent; /* Pour Safari et Chrome */
    outline: none; /* Pour enlever le contour de focus */
  }
/* Drapeau de France */
#encadrementDrapeau{
    bottom: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.705);
    width: 150px;
    height: auto;
}
/* La couleur Bleu */
#blocBleuFranceDrapeau{
    background-color: blue;
    width: 50px;
    height: 100px;
}
/* La couleur Blanc */
#blocBlancFranceDrapeau{
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 100px;
}
/* La couleur Rouge */
#blocRougeFranceDrapeau{
    background-color: rgb(255, 0, 0);
    width: 50px;
    height: 100px;
    align-items: end;
    flex-wrap: wrap;
}
/* 
Les hovers qui inversent le drapeau, uniquement pour le curseur, car dans les légendes, le diable n'est pas forcément le méchant de l'histoire. 
*/
#blocBleuFranceDrapeau:hover{
    background-color: Red;
    transition: 1s;
}
#blocBlancFranceDrapeau:hover{
    background-color: purple;
    transition: 1s;
}
#blocRougeFranceDrapeau:hover{
    background-color: blue;
    transition: 1s;
}
#divDrapeauFrance{
    display: flex;
    border: 1px solid purple;
    width: 150px;
    height: 100px;    
    opacity: 50%;
}
#divDrapeauFrance:hover{
    opacity: 100%;
}
#ViveLaFrance{
    border: 1px dotted black;
    width: 150px;
    text-align: center;
    padding: 0;
    margin: 0;
    color: black;
    background-color: white;
}
/* Pour que le curseur glisse sur "Vive la France !" */
#ViveLaFrance:hover{
    background-color: yellow;
    cursor: default;
    color: black;
}
#positionDrapeau{
    background: black;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#tousDroitsReserves{
    background-color:rgb(43, 43, 43);
    color: white;
    height: auto;
    padding: 0;
    margin: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    /* position: fixed; */
    display: flex;
}
.titreH1Config1{
    margin: 0;
    padding-top: 100px;
    font-size: 25px;
    padding-bottom: 15px;
}
#blocB{
    background-color: white;
    width: auto;
    display: flex;
    flex-direction: column;
    height: auto;
}

/* Bloc du bas de la page */
#blocC{
    background-color: black;
    width: auto;
    height: auto;
}
#blocA{
    padding-top:100px ;
    background-color: black;
    color: white;
    width: auto;
    height: auto;
    word-break: break-all;
}
/* La bannière */
#blocANavBannière{
    text-align: center;
    z-index: +999;
    background-color: white;
    position: fixed;
    height: auto;
    width: 100%;
    top: 0;
    word-break: break-all;
    box-shadow: 0 1px 15px 3px rgba(0, 0, 0, 0.171);
}
/* Bloc du milieu de la page */